In [ ]:
%pip install pandas

In [ ]:
import pandas as pd
import json


{"key": "test_insert_duration_ms_100000", "value": 27088, "_time": 1718047478.5868132, "_id": "ffe43cd7-ef10-4754-a58d-64517381a7c9", "_implementation": "example2"}
metrics = None

with open('1717977600_main_metrics.jsonl','r') as x:
    metrics += [json.loads(line) for line in x.read().splitlines()]


metric_recordings = {
    'test_insert_duration_ms_10' : [],
    'test_insert_duration_ms_100' : [],
    'test_insert_duration_ms_1000': [],
    #'test_insert_duration_ms_10000': [],
}

metric_stats = {}

rows = []

for metric in metrics:
    if metric['key'] in metric_recordings:
        metric_recordings[metric['key']].append(metric['value'])


#metric_recordings['test_insert_duration_ms_10000'] *= 10

# Print the amount of results for each key
{title : len(rows) for title,rows in metric_recordings.items()}

In [5]:
import os
import pandas as pd

# Define the folder containing the jsonl files
folder_path = './metrics'

# List all files in the directory
files = [f for f in os.listdir(folder_path) if f.endswith('.jsonl')]

# Initialize an empty list to hold DataFrames
data_frames = []

# Loop through the list of files and read each jsonl file
for file in files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_json(file_path, lines=True)
    data_frames.append(df)

# Concatenate all DataFrames into one
combined_df = pd.concat(data_frames, ignore_index=True)

# Display the combined DataFrame
combined_df.head()

,key,value,_time,_id,_implementation
0,test_insert_duration_ms_100000,39975.0,2024-06-10 20:50:03.490855932,58d1ed49-3442-469e-babe-bc2aa0ba844d,example
1,test_insert_100000,0.0,2024-06-10 20:50:03.490864038,58d1ed49-3442-469e-babe-bc2aa0ba844d,example
2,test_insert_duration_ms_10,27.0,2024-06-10 20:50:03.683422565,58d1ed49-3442-469e-babe-bc2aa0ba844d,example
3,test_insert_10,0.0,2024-06-10 20:50:03.683429956,58d1ed49-3442-469e-babe-bc2aa0ba844d,example
4,test_insert_duration_ms_10,28.0,2024-06-10 20:50:03.782463312,58d1ed49-3442-469e-babe-bc2aa0ba844d,example

In [21]:
mask = combined_df['key'].str.contains('insert_duration')
pd.DataFrame(combined_df[mask].groupby(by=["_id","_implementation","key"])["value"].sum())

                                                                                        value
_id                                  _implementation key
353ebbcb-0164-4bec-80cb-687a8b693da4 example         test_insert_duration_ms_10        2385.0
                                                     test_insert_duration_ms_100       5875.0
                                                     test_insert_duration_ms_1000     40201.0
                                                     test_insert_duration_ms_10000   127443.0
                                                     test_insert_duration_ms_100000   34521.0
58d1ed49-3442-469e-babe-bc2aa0ba844d example         test_insert_duration_ms_10        2651.0
                                                     test_insert_duration_ms_100       6852.0
                                                     test_insert_duration_ms_1000     45499.0
                                                     test_insert_duration_ms_10000   131017.0
                                                     test_insert_duration_ms_100000   39975.0
650f3043-61f5-46d1-b697-94af3c00e39d example         test_insert_duration_ms_10        2742.0
                                                     test_insert_duration_ms_100       6441.0
                                                     test_insert_duration_ms_1000     43092.0
                                                     test_insert_duration_ms_10000   124962.0
                                                     test_insert_duration_ms_100000   43723.0
c8484370-6b96-423e-8ca0-31e7ba8247c0 example2        test_insert_duration_ms_10        3040.0
                                                     test_insert_duration_ms_100       5530.0
                                                     test_insert_duration_ms_1000     70222.0
                                                     test_insert_duration_ms_10000   212450.0
                                                     test_insert_duration_ms_100000   33999.0